[submodule "sources/angularMaterial"]
	path = sources/angularMaterial
	url = https://github.com/angular/components
[submodule "sources/angularfire"]
	path = sources/angularfire
	url = https://github.com/angular/angularfire
[submodule "sources/angular"]
	path = sources/angular
	url = https://github.com/angular/angular
